@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  font-size: 16px;
  --color-red: #ef4657;
  --color-gris: #2d2d2d;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  font-family: "Raleway", sans-serif;
}
/*------ header -------*/
.header {
  display: flex;
  justify-content: center;
  height: 80px;
}
.header-logo {
  padding-right: 100px;
}
.header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-navbar-items {
  display: flex;
  text-decoration: none;
}
.header-navbar-items li {
  list-style: none;
  text-transform: uppercase;
  padding: 20px;
}
.header-navbar-items li a {
  text-decoration: none;
  color: black;
}
.header-navbar-items li a:hover {
  color: var(--color-red);
}
.header-menu-search {
  display: flex;
  justify-content: center;
}
.header-search {
  border: none;
  width: 70%;
}
.header-navbar-items li a:hover {
  text-decoration: none;
}
/*-------- Slider -----------*/
.slider {
  background: url(img/background.jpg);
  height: 860px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-content {
  margin-top: 600px;
  color: white;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}
.slider-content h2 {
  color: white;
  font-size: 4rem;
}
.slider-content p {
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
}

.slider-content a {
  padding: 20px 30px;
  background: white;
  border-radius: 50px;
  text-decoration: none;
  color: var(--color-gris);
  font-size: 1.1rem;
  font-weight: 600;
}
/*------ Main Content css */
.content-1,
.content-3,
.content-2 {
  padding: 0 250px;
}
.content h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-red);
  padding: 40px 0px;
}
.content-fake-news {
  display: flex;
  justify-content: space-around;
}
.content-fake-news-article {
  padding: 10px;

  width: 30%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.61);
}
.content-fake-news-article-info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  font-weight: 100;
  color: var(--color-gris);
}
.content-fake-news-article-img {
  width: 100%;
}
.content-fake-news-article h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0px;
}
.content-fake-news-article p {
  line-height: 30px;
  padding: 10px 20px;
}
.read-more {
  display: flex;
  justify-content: space-between;
}
.content-fake-news-article a {
  text-decoration: none;
  color: var(--color-red);
  padding: 10px 20px;
}

.section1-btn {
  padding: 50px 0px;

  display: flex;
  justify-content: center;
}
.section1-btn a {
  background: var(--color-gris);
  text-decoration: none;
  color: white;

  padding: 15px 60px;
  border-radius: 30px;
}
/*---- Section 2 -------*/
.content-2 {
  background: rgba(220, 220, 220, 0.377);
}
/*------- Section  4 -----*/
.content-4 {
  background: black;
  color: white;
  padding: 150px 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.content-4 h3 {
  font-size: 3rem;
  line-height: 100px;
  text-transform: uppercase;
}
.content-4 p {
  padding: 0 70px;
  margin-bottom: 50px;
  line-height: 30px;
  font-size: 1.2rem;
}
.newsletter-input {
  background: white;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.newsletter-input input {
  height: 48px;
  border: none;
}
.newsletter-input-send {
  width: 30%;
  background: var(--color-gris);
  color: white;
  border-radius: 20px;
  padding: 0px 20px;
}
.newsletter-input-email {
  width: 70%;
  background: none;
}
/*-------- Footer ---------*/

.footer {
  line-height: 50px;
}
.contact-info {
  display: flex;
  justify-content: space-around;
  padding: 60px 250px;

  background: url(img/background-footer.jpg);
  color: white;
}
.contact-description {
  width: 50%;
}
.contact-description h4 {
  font-size: 2rem;
  line-height: 100px;
}
.contact-description p {
  font-size: 1.2rem;
  line-height: 25px;
  padding: 20px 0px;
  width: 70%;
}
.contact-description li {
  font-size: 1.2rem;
  line-height: 25px;
  list-style: none;
}
.contact-form {
  width: 50%;
}
.contact-formulaire {
  display: grid;
}
.contact-formulaire input {
  height: 55px;
  margin-bottom: 15px;
  width: 100%;
}
.contact-formulaire textarea {
  resize: none;
}
.submit-btn {
  margin-top: 10px;
  background: var(--color-gris);
  color: white;
  height: 40px;
  width: 60%;
}
.social-icons {
  padding: 10px 0px;
}
.social-icons a {
  padding-left: 10px;
}
.copyright {
  text-align: center;
}
/*----------------- A Propos -------------------------------*/
.a-propos-slider {
  background: url(img/Back-ground-header.png);
  height: 537px;

  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white;
}
.a-propos-slider h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.6;
  padding-left: 300px;
}
.a-propos-slider p {
  color: white;
  font-size: 3rem;
  line-height: 100px;
  font-weight: bold;
  padding-left: 300px;
}

.a-propos-content {
  display: flex;
  justify-content: center;
padding: 50px 0;

}
.a-prpos-vid{
  width: 40%;
 
}

.A{
 
  height: 450px;
  background:   url(img/contour-video.png);
  background-repeat: no-repeat ;
  margin-left: 300px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
video{
 width: 430px;
 height: 430px;
}
.B{
  margin-top: -200px;
  height: 300px;
  background: var(--color-gris);
  width: 600px;
}
.a-propos-desc{
  
  padding-right: 400px;
  padding-left: 50px;
line-height: 25px;
  
}
.a-propos-desc h2, .a-propos-objectifs h2{
  font-size: 2rem;
color: var(--color-red);
text-decoration: none;
text-align: left;
}
.a-propos-desc p ,.a-propos-objectifs p {
padding-bottom: 20px;
  }
.objectifs{
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  background: rgba(128, 128, 128, 0.171) ;
}
  .a-propos-objectifs{

    padding-left: 300px;
   
    line-height: 25px;
    width: 50%;
  }
  .objectifs-logo{
    display: flex;
    align-items: center;
   width: 50%;
    justify-content: left;
   
    
  }
  /*--------- Contact page --------*/
  .contact-cordonnes{
    padding: 50px 300px;
    text-align: center;
  }
  .contact-cordonnes h3{
    line-height: 50px;
    text-transform: uppercase;

  }
  .contact-cordonnes p{
    line-height: 25px;
    text-transform: uppercase;

  }
 
  .contact-email{
    color: var(--color-red);
    font-weight: 900;

   
  }
  .adresse-mail{
   line-height: 50px;
   padding: 5px;
    border-radius: 15px;
    background: rgba(22, 34, 104, 0.247);
  }
  .contact-formulaire-page{
    padding: 50px 300px;

  }
  .formulaire{
    width: 100%;
  }
  .formulaire-inline{
    display: flex;
    justify-content: space-between;
  }
  .formulaire textarea{
    width: 100%;
    border: solid 1px rgba(156, 155, 154, 0.438);
    resize: none;
  }
  .formulaire input{
    width:49%;
    margin-bottom: 10px;
    line-height: 50px;
    border: solid 1px rgba(156, 155, 154, 0.438);
  }
  .button-submit-form{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
  }
  .formulaire button{
    background: var(--color-red);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border-style: none;
  }